body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

.contenedor-principal {
  background-color:#318dbb;
  padding: 20px;
  text-align: center;
}

.imagenes-lado {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
.titulo{
  margin-top: 20px;
}
.menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #a0c4e3;
    margin-top: 10px;
    
}
.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.menu ul li {
    padding: 20px;
    transition: all 0.3s ease-out;
}
.menu ul li:hover {
    transform: scale(1.2);
    background-color: #FFE5B4;
    padding: 15px;
}
.menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}
.texto-centro {
  display: inline-block;
  width: 35%;
  text-align: left;
  padding: 10px;
}

.imagenes-lado img {
  width: 90%;
  border-radius: 10px;
}

.historias {
  padding: 20px;
}

.historias h1 {
  color:#27B0F5;
}

.historias p {
  max-width: 800px;
  margin-bottom: 25px;
}
.historias img.foto {
  width: 150px;   
  height: auto;  
  border-radius: 10px; 
  margin-bottom: 10px; 
}
footer {
  background: #27B0F5;
  color: #000;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

