.button {
  margin: 10px;
  padding: 8px 15px;
  background: #1d3557;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  float: right;
}
.button:hover{
  background-color: #457b9d;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: deepskyblue;
}