*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: beige;
}


header h1{
    text-align: center;
    font-family: sans-serif;
}
.menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #a0c4e3;
    margin-top: 10px;
    
}
.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.menu ul li {
    padding: 20px;
    transition: all 0.3s ease-out;
}
.menu ul li:hover {
    transform: scale(1.2);
    background-color: #FFE5B4;
    padding: 15px;
}
.menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}
.contacto {
    text-align: center;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.contacto h3 {
    color: #0c0e10;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.integrantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.persona {
    background: white;
    border: 2px solid #6b8195;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.persona:hover{transition: scale(1,1);
background: #a0c4e3;}
.persona img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.persona h3 {
    margin: 10px 0 5px 0;
    color: #333;
}

.persona p {
    margin: 5px 0;
    font-size: 0.95em;
}

.persona a {
    color: #ff914d;
    text-decoration: none;
    font-weight: bold;
}

.miembro a:hover {
    text-decoration: underline;
}
footer {
    background-color: #a0c4e3;
    color: white;
    padding: 20px 10px;
    text-align: center;
    margin-top: 30px;
}
.footer-container {
    max-width: 1000px;
    margin: auto;
    color: #333333;;
}
.footer-nav {
    margin-bottom: 15px;
}
.footer-nav a {
    color: #333333;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
.footer-nav a:hover {
    transform: scale(1.2);
    background-color: #FFE5B4;  
}
.social {
    margin: 10px 0;
}
.social a {
    color:#333333;
    text-decoration: none;
    margin: 0 5px;
}
.social a:hover {
      text-decoration: underline; 
}
.contacto a {
    color:#333333;
    font-weight: bold;
    text-decoration: none;
}
.contacto a:hover {
    text-decoration: underline;
}
.derechos {
    margin-top: 15px;
    font-size: 0.9em;
}
