*{
    margin: 0px;
    padding: 0px;
}
body{
    background: beige;
    font-family: "Poppins", sans-serif;
}
.contenedor{
    background: white;
    width: 90%;
    box-shadow: 0 0 15px #333;
    margin: 10px auto;
    /*usar el display grid para transformar a cuadricula*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 35px;
}
.titulo{
    grid-column-start: 1;
    grid-column-end: 5;
    background: rgb(40,65,130);
    color: white;
    font-size: 25px;
    font-weight: bold;
    /*text-align: center;
    line-height: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.encabezado, .filas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.encabezado{
    background: lightcyan;
    font-size: 15px;
    font-weight: 400px;
}
/*edicion de tabla*/
.op_editar{
    position: absolute;
    top: 5;
    right: 7%;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.op_editar:hover{
    text-decoration: underline;
    color: red;
}
/*agregar una columna*/
.contenedor-opc{
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
    width: 95%;
}
.titulo-opc{
    grid-column-start: 1;
    grid-column-end: 5;
}
button {
  margin: 10px;
  padding: 10px 20px;
  background: #1d3557;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  float: right;
}
button:hover{
  background-color: #457b9d;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: deepskyblue;
}