*{
    margin: 0;
    padding: 0;
}
body{
    background: #ddd;
    font-family: monospace;
}
.contenedor{
    background-color: white;
    width: 95%;
    box-shadow: 0 0 15px #333;
    margin: 10px auto;
    /*usar display grid para transformar a cuadricula*/
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 20px;

}
.titulo{
    grid-column-start: 1;
    grid-column-end:6;
    background-color: rgb(40, 65,130);
    color: white;
    font-size: 25px;
    font-weight: bold;
   /* text-align: center;
    line-height: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.encabezado, .filas{
  display: flex;
    justify-content: center;
    align-items: center;
    
}
.encabezado{
    background-color: lightcyan;
    font-size: 15px;
    font-weight: 400;
}
/* edicion de tabla*/
.op_editar{
position: absolute;
top: 5;
right: 7%;
color: white;
text-decoration: none;
font-size: 18px;
}
.op_editar:hover{
    text-decoration: underline;
    color:red;
}
/*AGREGAR UNA COLUMNA*/
.contenedor-opc{
 grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 20px;
    width: 95%;
    min-width: 900px;
}
.titulo-opc{
    grid-column-start:1 ;
    grid-column-end: 7;
}
/* diseño al boton eliminar*/
.btn-elimina{
    padding: 6px 14px;
    border: 1px solid #000;
    background: #dd1b1b;
    cursor: pointer;
}
/*diseño boton actualizar*/
.act-btn{
 padding: 6px 14px;
    border: 1px solid #000;
    background: #dd1b1b;
    cursor: pointer;
}

