*{
	padding: 0;
	margin: 0;
}
body{
	background: #bbb;
	font-family: monospace;

}
.contenedor{
	background: white;
	width: 100%;
	box-shadow: 0 0 15px #333;
	margin: 10px auto;
	/*usar el displex grid para transformar a cuadricula*/
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: 30px;
}
.titulo{
	grid-column-start:1 ;
	grid-column-end: 7;
	background-color:rgb(40, 65, 130);
	color: white;
	font-size: 25px;
	font-weight: bold;
	/*text-align: center;
	line-height: 100%;*/
	display: flex;
	justify-content: center;
	align-items: center;

}
.encabezado,.filas{
display: flex;
	justify-content: center;
	align-items: center;
}
.encabezado{
	background-color: lightcyan;
	font-size: 15px;
	font-weight: 400;
}
/* edicion de tabla*/
.op_editar{
	position: absolute;
	top: 5;
	right: 7%;
	color: white;
	text-decoration: none;
	font-size: 18px;
}
.op_editar:hover{
	text-decoration: underline;
	color:blueviolet;
}
.contenedorcon{
width: 95%;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: 20px;
	min-width: 900px;
}
.titulocon{
	grid-column-start: 1;
	grid-column-end: 8;
}
a{
	text-decoration: none;
	color: black;
}