.menu {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
    background-color: #a0c4e3;
    margin: 0;               
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    padding: 20px;
    transition: all 0.3s ease-out;
}

.menu ul li:hover {
    transform: scale(1.2);
    background-color: #FFE5B4;
    padding: 15px;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}


body {
    margin: 0;
    padding-top: 70px; 
    background-color: #edf1f5;
    font-family: Arial, sans-serif;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: #fff;
  padding: 25px 35px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 340px;
}

label {
  display: block;
  margin-top: 10px;
  text-align: left;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[readonly] {
  background-color: #f1f1f1;
  font-weight: bold;
  color: #333;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #6c8dad;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #547693;
}
.boton-enviar {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #6c8dad;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.boton-enviar:hover {
  background-color: #547693;
}
