.menu {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
    background-color: #a0c4e3;
    margin: 0;               
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    padding: 20px;
    transition: all 0.3s ease-out;
}

.menu ul li:hover {
    transform: scale(1.2);
    background-color: #FFE5B4;
    padding: 15px;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

body {
      font-family: "Poppins", sans-serif;
      background:  #94b5d1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .container {
      background: white;
      padding: 30px 40px;
      border-radius: 15px;
      box-shadow: 0 0 50px rgba(48, 68, 113, 0.7);
      width: 350px;
      text-align: center;
    }
    h2 {
      color: #29292c;
      margin-bottom: 5px;
      
    }
    p {
      color: #666;
      font-size: 14px;
      margin-bottom: 20px;
    }
    label {
      display: block;
      text-align: left;
      margin-top: 10px;
      font-weight: 600;
      color:  #333333;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #445a6f;
      border-radius: 8px;
      font-size: 15px;
      transition: 0.2s;
    }
    button {
      margin-top: 20px;
      width: 100%;
      padding: 12px;
      background-color:  #7890a5;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }
    button:hover {
      background-color:  #536473;
    }